<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Digital Bar</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />

    </head>

    <body ng-app="imdApp" ng-controller="myController">
        <div class="container">

            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>
                <p ng-if="myName">Hello {{myName}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">

                    <input type="text" placeholder="Zoek een product" ng-model="productSearch"/>

                    <ul class="productList">
                        <li ng-repeat="d in drinks | filter:productSearch">
                            <span class="name">{{d.name}}</span>
                            <small class="quantity">{{d.quantity}}</small>
                            <button ng-click="d.quantity = d.quantity + 1">+</button>
                            <button ng-click="d.quantity = d.quantity - 1">-</button>
                        </li>
                    </ul>

                    <button class="action" ng-click="sendProduct()">Send your order</button>

                    <p ng-if="orderSent">Your order has been added!</p>

                </div>

                <div class="addProduct">

                    <label>Nieuw Product</label>

                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" ng-model="product.name"/>
                    </div>

                    <button class="action" ng-click="addProduct()">Add product</button>

                </div>
            </div>
        </div>


        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here
            var app = angular.module('imdApp', []);

            app.controller('myController', function($scope, $http){

                $scope.product = {
                    name: ""
                };

                var getAllProducts = function getAllProducts() { 

                    $http.get('http://imd.district01.be/product').
                    success(function(data, status, headers, config) {

                        console.log("Succes || getAllProducts");

                        $scope.drinks = data;

                    }).
                    error(function(data, status, headers, config) {

                        console.log("Fail || getAllProducts");

                    });

                }

                $scope.order = [{"username":"", "created":"", "products": [{_id:"", name:"", qty:""}] }];

                $scope.sendProduct = function sendProduct() {

                    var data = _.filter($scope.drinks, function(d) {
                        return d.quantity > 0;

                    });

                    if(data.length>0) {//Is er minstens 1 product aangeduid?

                        $http.post('http://imd.district01.be/order', {username: $scope.myName, products: data}).
                        success(function(data, status, headers, config) {

                            $scope.orderSent=true;
                            console.log("Succes || sendProduct");

                        }).
                        error(function(data, status, headers, config) {

                            console.log("Fail || sendProduct");

                        });

                    }
                }


                app.directive('amountControl', function(){
                return {
                    restrict: 'EAC',
                    template:'<p><button ng-click="qty = qty +1">+</button><button ng-click="qty = qty -1">-</button></p>',
                    scope: {
                        qty: '=amount'
                    }
                };
            });


                $scope.addProduct = function() {

                    $http.post('http://imd.district01.be/product', $scope.product).
                        success(function(data, status, headers, config) {
                            getAllProducts();
                            console.log('jaaaaa nieuw product!');
                        }).
                        error(function(data, status, headers, config) {
                            console.log('neje geen nieuw product...');
                        });
                }

                getAllProducts();

            });

            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
