body
{
	background-color: #3E5267;
}

.circle
{
	position: absolute;
	left: 20px;
	top: 20px;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	transition: -webkit-transform 0.5s;
}

#red
{
	background-color: #D85E4E;
}

#green
{
	background-color: #50C77F;
}

#yellow
{
	background-color: #F0C235;
}



#red.move{
-webkit-transform: translateY(100px);
}

#green.move{
-webkit-transform: translateX(100px);
}

#yellow.move{
-webkit-transform: translate(100px, 100px);
}