body
{
	background-color: #DFDED4;

	overflow: hidden;

    -webkit-animation: Color 1.5s;
    -webkit-animation-delay: 2.4s;
    -webkit-animation-fill-mode: forwards;
}

img
{
	display: block;
	max-width: 100px;
	border-radius: 50%;
}

#logoDiv
{
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

#logoDiv img
{
	display: block;
	margin-left: auto;
	margin-right: auto;

	-webkit-animation: LogoUp 5s;
    -webkit-animation-fill-mode: forwards;
}

#imgDiv
{
	display: block;
	width: 300px;
	height: 80px;
	margin: 0 auto;
}

#imgDiv img
{
	width: 80px;
	padding: 10px;
	float: left;
}

.img1
{
 	-webkit-animation: ImgsUp 1.5s;
 	-webkit-animation-delay: 2.45s;
}

.img2
{
	-webkit-animation: ImgsUp 1.5s;
 	-webkit-animation-delay: 2.4s;
}

.img3
{
    -webkit-animation: ImgsUp 1.5s;
 	-webkit-animation-delay: 2.5s;
}

.hidden{
    visibility: hidden;
}

@-webkit-keyframes LogoUp
{
0% { -webkit-transform: translateY(2000px); }
20% { -webkit-transform: translateY(-50px); }
30% { -webkit-transform: translate(0); }
50% { -webkit-transform: translate(0); }
100% { -webkit-transform: translateY(-2000px)}
}

@-webkit-keyframes ImgsUp
{
0% { -webkit-transform: translateY(2000px); }
75% { -webkit-transform: translateY(-50px); }
100% { -webkit-transform: translateY(0px)}
}

@-webkit-keyframes Color
{
0% { background-color: }
100% { background-color: #35B788;}
}