body
{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
    font-weight: 300;
    color: #FFFFFF;
}

        
.clearFix
{
    clear: both;
}

#appWrapper
{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding-bottom: 30px;
    background-color: #e74c3c;
    box-shadow: 0 0 7px black;
}

nav
{
    display: block;
    width: 100%;
    height: 50px;
    background-color: #c0392b;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

#location
{
    display: block;
    width: 100px;
    font-size: 14px;
    font-family: Helvetica:light;
    
    float: left;
    text-align: left;
    
    padding: 20px;
}

#date
{
    display: block;
    width: 100px;
    font-size: 14px;
    font-family: Roboto:400;
    
    float: right;
    text-align: right;
    
    padding: 20px;
}

#curDeg
{
    display: block;
    font-size: 250px;
    font-weight: bold;
    
    width: 100%;
    height: 255px;
    text-align: center;
    line-height: 255px;
    margin: 0;
    padding: 0;
}

#summary
{
    display: block;
    font-size: 30px;
    font-weight: bold;
    
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin: 0;
    padding: 0;
}

#weathericon
{
    display: block;
    width: 100%;
}

.weathericon
{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
}