body
{
	background-color: #3E5267;
	max-width: 600px;
}

header
{
	display: block;
	background-color: white;
	border-radius: 10px;
	padding: 10px;

	width: 300px;
	height: 40px;

	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-animation: flipInX 1s;
	-webkit-animation-fill-mode: forwards;
}

#imdLogo
{
	display: block;
	width: 40px;
	height: 40px;
	float: left;

	margin-right: 10px;
}

#text
{
	display: block;
	float: left;
	vertical-align: middle;

	padding-top: 6px;
}

h1
{
	font-size: 12px;
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
}

p
{
	font-size: 12px;
	font-family: verdana, sans-serif;
	margin: 0;
	padding: 0;
}

#users
{
	display: block;
	width: 300px;

	margin-left: auto;
	margin-right: auto;

	-webkit-transform-origin: left;
	-webkit-animation: flipInY 1s;
	-webkit-animation-fill-mode: forwards;

}

.userImg
{
	display: block;
	float: left;

	width: 90px;
	border-radius: 5px;
	margin: 4px;
	
	transition: height 0.1s linear, width 0.1s linear;
}

.userImg:hover
{
	width: 92px;
	margin: 2px;
}

.clearFix
{
	clear: both;
}

@-webkit-keyframes flipInX
{
0% { -webkit-transform: perspective(400px) rotateX( 90deg ); opacity: 0; }
40% { -webkit-transform: perspective(400px) rotateX( -10deg ); }
70% { -webkit-transform: perspective(400px) rotateX( 10deg ); }
100% { -webkit-transform: perspective(400px) rotateX( 0deg ); opacity: 1; }
}

@-webkit-keyframes flipInY
{
0% { -webkit-transform: perspective(400px) rotateY( 90deg ); opacity: 0; }
40% { -webkit-transform: perspective(400px) rotateY( -10deg ); }
70% { -webkit-transform: perspective(400px) rotateY( 10deg ); }
100% { -webkit-transform: perspective(400px) rotateY( 0deg ); opacity: 1; }
}